---
import styles from './hamburger.module.css';
---

<div data-element="hamburger" class={styles.hamburger}>
  <span class={styles.line}></span>
  <span class={styles.line}></span>
  <span class={styles.line}></span>
</div>
